<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)='onAddShoppingList()' style="cursor:pointer">Add to shopping list</a></li>
        <li><a (click)='onEditRecipe()' style="cursor:pointer" >Edit Recipe</a></li>
        <li><a style="cursor:pointer" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <ul class="list-group">
          <li 
          class="list-group-item"
          style="cursor:pointer"
          *ngFor="let ingrdient of recipe.ingredients">
        {{ingrdient.name}} (₹{{ingrdient.amount}})
        </li>
        </ul>
  </div>
  
</div>
