<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a 
      class="list-group-item"
      style="cursor:pointer"
      *ngFor="let ingrdient of ingredients; let i = index;"
      (click)="onEditItem(i)">
    {{ingrdient.name}} (₹{{ingrdient.amount}})
    </a>
    </ul>
  </div>
</div>
