<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" #email="ngModel"
        class="form-control" ngModel required>
        <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email</span>
      </div>
    
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" #password="ngModel"
        class="form-control" ngModel required>
        <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
    </form>
  </div>
</div>
