<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- <app-recipes *ngIf="renderRoute=='Recipes'"></app-recipes>
      <app-shopping-list *ngIf="renderRoute=='Shopping List'"></app-shopping-list> -->
    </div>
  </div>
</div>