<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="shopping-list">Shopping List</a></li>
      </ul>
      <ul  class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated()">
            <li><a routerLink="signup">Register</a></li>
            <li><a routerLink="signin">Login</a></li>
        </ng-template>
        <li *ngIf="isAuthenticated()"><a style="cursor:pointer" (click)="onLogout()">Logout</a></li>
        <li appDropdown class="dropdown" *ngIf="isAuthenticated()">
          <a style="cursor:pointer" class="dropdown-toggle">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a style="cursor:pointer" (click)="onSaveRecipes()">Save Data</a></li>
              <li><a style="cursor:pointer" (click)="onGetRecipes()">Fetch Data</a></li>
          </ul>
         </li>
        </ul>
    </div>
  </div>
</nav>