<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" class="form-control" ngModel
        #email="ngModel" required email >
        <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email</span>
      </div>
    
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"
        #password="ngModel" class="form-control" ngModel required>
        <span *ngIf="!password.valid && password.touched" class="help-block">Please enter your password</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid" >Sign In</button>
    </form>
  </div>
</div>
