<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" ngModel 
          class="form-control" #nameInput = 'ngModel' required>
          <span class="help-block" *ngIf="!nameInput.valid && nameInput.touched">Please enter the name</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="text" id="amount" name="amount"  ngModel
          class="form-control" #amountInput='ngModel' pattern="^[1-9]+[0-9]*$" required>
          <span class="help-block" *ngIf="!amountInput.valid && amountInput.touched">Please enter the amount</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid" >{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>